{% extends "base_generic.html" %} {% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">统计信息查询</h3>
  </div>
  <div class="panel-body">
    <form action="" method="post">
      {% csrf_token %}
<div class="table-responsive ">
        <div style="display: inline-block;margin-left:20px;">{{ form }}
        </div>
        <div style="display: inline-block;">
            <label for="date1" style="margin-left:20px;" >设置开始日期：</label>
            <input type="date" name='date1' id='date1' title="注意：这是个日期要小于结束日期。" value="2019-11-01"  min="2019-11-01" max={{date|safe}} required/>
        <label style="margin-left:20px;" for="date2">设置结束日期：</label>
        <input type="date" name='date2' id='date2' title="注意：这是个日期要大于开始日期。"min="2019-11-01" max={{date|safe}} value={{date|safe}} required/>
        </div>
        <button type="submit" class="btn btn-primary statistics"><span class="glyphicon glyphicon-search"></span> 查询</button>
    </form>
  </div>
</div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div id="container1" style="min-width:400px;height:400px"></div>
    </div>
  </div>
<style>
  .errorlist {
    background-color: pink;
  }
  .helptext {
    color:blue;
    font-weight: bold;
  }
  .statistics {
      margin-left:20px;
  }
</style>
{%if dic != null %}
<script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/themes/dark-unica.js"></script>        
        <script>
           
            var dic =JSON.parse('{{ dic|safe }}')
            var title1 = "{{title1}}"

            // console.log(dic)
          var chart = Highcharts.chart('container1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '图书借阅条形图'
    },
    subtitle: {
        text: '数据来源: 图书管理平台'
    },
    xAxis: {
        categories: Object.keys(dic),
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: '借阅次数',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' 次'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true,
                allowOverlap: true // 允许数据标签重叠
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 100,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        shadow: true
    },
    series: [{
        name: title1,
        data: Object.values(dic)
    },]
});

        </script>
{%endif%}
<div class="panel panel-default">
    <div class="panel-body">
        <div id="container2" style="min-width:400px;height:400px"></div>
    </div>
  </div>


{% if dic1 != null%}
<script>
     function GetPercent(num, total) {
    /// <summary>
    /// 求百分比
    /// </summary>
    /// <param name="num">当前数</param>
    /// <param name="total">总数</param>
    num = parseFloat(num);
    total = parseFloat(total);
    if (isNaN(num) || isNaN(total)) {
        return "-";
    }
    return total <= 0 ? 0 : (Math.round(num / total * 10000) / 100.00);
}
var dic1 =JSON.parse('{{ dic1|safe }}')
var books_num = JSON.parse('{{books_num|safe}}')
var sum = parseInt(books_num.toString())
var title2 = "{{title2}}"

var list1 = []
for(let j=0;j<Object.keys(dic1).length;j++){
    let dict ={}
    // console.log(dict['name']=Object.keys(dic1)[j])
    dict['name']=Object.keys(dic1)[j]
    dict['y']=GetPercent(Object.values(dic1)[j], sum)
    list1.push(dict)
}
console.log(list1)
// Build the chart
Highcharts.chart('container2', {
		chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
		},
		title: {
				text: title2
		},
		tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
				pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
								enabled: false
						},
						showInLegend: true
				}
		},
		series: [{
				name: 'Brands',
				colorByPoint: true,
				data: list1
		}]
});
</script>
{%endif%}
{% endblock %}
